<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta name="robots" content="noindex, nofollow">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>Yun Oh</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="author" content="Yun Oh" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>Yun Oh</h1>
              <p>
                I am a BS student in <strong>Artificial Intelligence</strong> at Hanyang University ERICA (transferred in 2025, GPA: 4.2 / 4.5).
              </p>
              <p>
                Prior to diving into AI, I earned my BA in <strong>English Literature and Linguistics</strong> from Sogang University in 2016.
              </p>
              <p>
                My research interests lie in <strong>Augmentative and Alternative Communication (AAC)</strong>, Natural Language Processing(NLP), VLA for Robotics, and Generative World Models.
              </p>
              <p style="text-align:center">
                <a href="mailto:yun5.dev@gmail.com">Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/YunOh21">GitHub</a> &nbsp;/&nbsp;
                <a href="https://velog.io/@yun5">Blog</a>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <p style="text-align:center">
              <img style="width:50%;max-width:50%;" alt="profile photo" src="images/profile_blue.png">
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Projects</h2>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="images/rel_assess.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>[Workshop] Reference-Free Assessment of Physical Consistency in World Model-based Video Generation</h3>
              <br>
              <em><a href="https://3d-llm-vla.github.io">2nd 3D-LLM/VLA Workshop</a> (Non-Archival), CVPR 2026</em>
              <br>
              <a href="https://rfapc.github.io/2026_3d_llm_vla_workshop_sub25_camera_ready.pdf">paper</a> /
              <a href="https://canva.link/x7r4s78bxieph59">slides</a> /
              <a href="pdfs/workshop_poster_en.pdf">poster(en)</a> /
              <a href="pdfs/capstone_poster_ko.pdf">poster(ko)</a> /
              <br>
              <p><em>Conducted as part of the Capstone Design Project.</em></p>
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="images/parking_result.jpg" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>[Team] PM Security</h3>
              <br>
              2024
              <br>
              <a href="https://github.com/tensor-programming-2026/pm_security">code</a> /
              <a href="https://github.com/tensor-programming-2026/pm_security/blob/main/docs/presentation_ko.pdf">slides</a>
              <p></p>
              <p>fintuned Grounding-DINO for Private mobility parking state detection.</p>
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="images/whisper_to_locate.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>[Independent] Whisper to Locate</h3>
              <br>
              2025
              <br>
              <a href="pdfs/whisper-to-locate.pdf">PDF (in Korean) </a>
              <p></p>
              <p>Explored the integration of audio and vision models (Whisper + Grounding DINO) for open-vocabulary spatial localization.</p>
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="images/multi_robot.gif" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>[Team] Multi Driving Robot Control System</h3>
              <br>
              2024
              <br>
              <a href="https://github.com/YunOh21/multi-robot-control-system">code</a> /
              <a href="https://docs.google.com/presentation/d/1JA80CWg-Doe3NlXZKzBihne2yhNvz5CSX7nk5qTw1c4/edit?usp=sharing">slides</a> /
              <a href="https://www.youtube.com/watch?v=rqWVjeEV688">youtube</a>
              <p></p>
              <p>Designed and implemented task scheduling logic using ROS2 Behavior Trees for multi-robot coordination. Developed a communication interface between robots using ROS2 Domain Bridge.</p>
            </td>
          </tr>

          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="images/road_detection.png" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>[Team] Road-surface Recognition for Accessibility</h3>
              <br>
              2023
              <br>
              <a href="https://github.com/wcrc-auto-dl/road_detection">code</a> /
              <a href="pdfs/road-detection.pdf">slides</a>
              <p></p>
              <p>Trained and evaluated object detection models using YOLOv8 to enhance road-surface recognition, focusing on activation function ablation.</p>
            </td>
          </tr>
        </table>

        <br><br><br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
        
      </td>
    </tr>
  </table>
</body>

</html>